<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
<title>ML API</title>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
</head>

<body>
 <div class="login">
 
	 

     <!-- Main Input For Receiving Query to our ML -->
   <form action = "http://localhost:1080/">
     <p><input type = "submit" value = "Part of Speach " /></p>
    </form>

<form action = "http://localhost:1080/sia">
  <p><input type = "submit" value = "Sentiment Analysis" /></p>
</form>

<form action = "http://localhost:1080/translate">
<p><input type = "submit" value = "Translate" /></p>
</form>

   <br>
   <br>
  




</body>
</html>

